* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--max-width: 1400px;
	--max-width-small: 900px;
    --side-padding: 6vw;
	--theme-color: #3caee3;
}

@font-face {
    font-family: "Roc Grotesk";
    font-weight: normal;
    src: url("fonts/rocgrotesk-regular.otf") format("opentype");
}

@font-face {
    font-family: "Roc Grotesk";
    font-weight: bold;
    src: url("fonts/rocgrotesk-bold.otf") format("opentype");
}

/* Sizing & Positioning */
.w-100 { width: 100%; }
.h-100 { height: 100%; }
.half { width: 50%; }

.max-w-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.max-w {
	width: min(calc(100% - var(--side-padding) * 2), var(--max-width));
	max-width: var(--max-width);
	display: flex;
}

.max-w-small {
	width: min(calc(100% - var(--side-padding) * 2), var(--max-width-small));
	max-width: var(--max-width-small);
	display: flex;
}

.relative { position: relative; }
.absolute { position: absolute; }
.absolute-0 {
	top: 0;
	left: 0;
	position: absolute;
}

.mb-1 { margin-bottom: 0.1em; }
.mb-2 { margin-bottom: 0.2em; }
.mb-3 { margin-bottom: 0.3em; }
.mb-4 { margin-bottom: 0.4em; }
.mb-5 { margin-bottom: 0.5em; }
.mb-10 { margin-bottom: 1rem; }
.mb-20 { margin-bottom: 2rem; }

.gap-1 { gap: 0.1rem; }
.gap-10 { gap: 1rem; }

/* Flexbox */
.flex { display: flex; }
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }
.column { flex-direction: column; }

.block { display: block; }

html {
    font-size: 16px;
    font-family: "Roc Grotesk";
    font-weight: normal;
}

h2 {
	font-size: 5rem;
	font-weight: normal;
	/* color: #4a4a4a; */
	color: var(--theme-color);
	letter-spacing: 0.03em;
	line-height: 5rem;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
}
