body {
    background-color: #f4f4f3;
}

header {
    /* height: 160px; */
    padding: 15px 0;
    position: fixed;
    color: white;
    background-color: #002e414f;
    transition: background-color 0.4s ease-out;
}

img.logo {
    height: min(150px, 15vw);
    min-height: 80px;
}

header > div {
    height: 100%;
    justify-content: space-between;
}

header nav {
    gap: 3rem;
}

header nav a {
    height: 80%;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

header nav a:hover {
    transform: scale(1.1);
}

section.landing-images img.main {
    width: 100%;
    height: min(75vh, 900px);
    object-fit: cover;
    object-position: 50% 30%;
}

section.services {
    padding: min(175px, 20vw) 0;
}

div.image-showcase {
    --h2-height: 7rem;
    /* height: 700px; */
    aspect-ratio: 2 / 1;
    gap: 1rem;
}

div.image-showcase h2 {
    height: var(--h2-height);
}

section.services div.image-grid {
	display: grid;
	width: 100%;
	grid-gap: 1rem;
    grid-auto-flow: dense;
}

section.services div.carbon div.image-grid {
    height: calc(100% - var(--h2-height));
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

section.services div.paint div.image-grid {
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

section.services div.carbon div.image-grid div {
    background-color: orange;
}

section.services div.paint div.image-grid div {
    background-color: red;
}

section.services div.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.description-container {
    gap: 3rem;
    margin: 75px 0;
}

div.description-container h3 {
    margin-bottom: 3rem;
}

div.description-container p:not(:last-child) {
    margin-bottom: 1.5rem;
}

div.misc-info {
    max-width: 47rem;
    align-self: center;
}

div.misc-info p.top-right {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

div.misc-info p {
    margin-bottom: 1rem;
}

div.mobile-description {
    margin: 40px 0 30px 0;
}

div.mobile-description h3 {
    margin-bottom: 1.5rem;
}

div.mobile-description p:not(:last-child) {
    margin-bottom: 1rem;
}

section.about {
    margin-bottom: 200px;
}

section.about div.text * {
    width: 80%;
}

section.about h2 {
    margin-bottom: 4rem;
}

section.about img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    object-position: 16% 0;
}

@media screen and (max-width: 700px) {
    div.image-showcase {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    div.half {
        width: 100%;
    }
    div.image-grid {
        aspect-ratio: 1 / 1;
        height: auto;
    }
    div.image-showcase .mobile-unhide {
        display: block;
    }

    div.description-container.mobile-hide {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header > div {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    header nav a {
        font-size: 1rem;
        background-color: #ffffff4a;
        padding: 0.2em 0.5em;
        border-radius: 0.3em;
    }
}
