header {
    /* height: 160px; */
    padding: 15px 0;
    position: fixed;
    color: white;
    background-color: #002e414f;
    transition: background-color 0.4s ease-out;
}

img.logo {
    height: min(150px, 15vw);
    min-height: 80px;
}

header > div {
    height: 100%;
    justify-content: space-between;
}

header nav {
    gap: 3rem;
}

header nav a {
    height: 80%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

header nav a:hover {
    transform: scale(1.1);
}

section.landing-images img.main {
    width: 100%;
    height: min(75vh, 800px);
    object-fit: cover;
    object-position: 50% 20%;
}

section.services {
    padding: 175px 0;
}

div.image-showcase {
    --h2-height: 6rem;
    height: 700px;
    gap: 1rem;
}

div.image-showcase h2 {
    height: var(--h2-height);
}

section.services div.image-grid {
	display: grid;
	width: 100%;
	grid-gap: 1rem;
    grid-auto-flow: dense;
}

section.services div.carbon div.image-grid {
    height: calc(100% - var(--h2-height));
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

section.services div.paint div.image-grid {
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

section.services div.carbon div.image-grid div {
    background-color: orange;
}

section.services div.paint div.image-grid div {
    background-color: red;
}

section.services div.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    header > div {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    header nav a {
        font-size: 1rem;
        background-color: #ffffff4a;
        padding: 0.2em 0.5em;
        border-radius: 0.3em;
    }
}
