body {
    background-color: #f4f4f3;
}

header {
    /* height: 160px; */
    padding: 15px 0;
    position: fixed;
    color: white;
    background-color: #002e414f;
    transition: background-color 0.4s ease-out;
}

img.logo {
    height: min(150px, 15vw);
    min-height: 80px;
}

header > div {
    height: 100%;
    justify-content: space-between;
}

header nav {
    gap: 3rem;
}

header nav a {
    height: 80%;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

header nav a:hover {
    transform: scale(1.1);
}

section.landing-images img.main {
    width: 100%;
    height: min(75vh, 900px);
    object-fit: cover;
    object-position: 50% 30%;
}

section.services {
    padding: min(150px, 20vw) 0;
}

div.image-showcase {
    aspect-ratio: 2 / 1;
    gap: 1rem;
}

div.image-showcase h2 {
}

section.services div.image-grid {
	display: grid;
	width: 100%;
	grid-gap: 1rem;
    grid-auto-flow: dense;
}

section.services div.carbon div.image-grid {
    /* height: calc(100% - var(--h2-height)); */
    height: calc(100% - var(--h2-size) - 2rem);
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

section.services div.paint div.image-grid {
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(13, 1fr);
}

section.services div.carbon div.image-grid div {
    background-color: orange;
}

section.services div.paint div.image-grid div {
    background-color: red;
}

section.services div.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.description-container {
    gap: 3rem;
    margin: 75px 0;
}

div.description-container h3 {
    margin-bottom: 3rem;
}

div.description-container p:not(:last-child) {
    margin-bottom: 1.5rem;
}

div.misc-info {
    max-width: 47rem;
    align-self: center;
}

div.misc-info p.top-right {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

div.misc-info p {
    margin-bottom: 1rem;
}

div.mobile-description {
    margin: 40px 0 30px 0;
}

div.mobile-description h3 {
    margin-bottom: 1.5rem;
}

div.mobile-description p:not(:last-child) {
    margin-bottom: 1rem;
}

section.about {
    /* margin-bottom: 200px; */
    color: white;
    background-color: #32273e;
    /* background-color: var(--bask-purple); */
    padding: 100px 0;
}

section.about div.text {
    padding: 0 4rem;
}

section.about p { 
    max-width: 35rem;
}

section.about h2 {
    margin-bottom: 4rem;
}

section.about div.image {
}

section.about img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    object-position: 16% 0;
}

section.contact {
    margin: 150px 0;
}

section.contact > div {
    gap: min(4rem, var(--side-padding));
}

section.contact h2 {
    margin-bottom: 3rem;
}

section.contact p:not(:last-child) {
    margin-bottom: 1rem;
}

section.contact div.form {
    max-width: 35rem;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem 1rem;
}

section.contact div.form > div {
}

section.contact label {
    margin-bottom: 0.5em;
}

section.contact label span {
    color: grey;
    margin-left: 0.3em;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
    background: none;
    border-radius: 2em;
}

input, textarea {
    /* height: min-content; */
    width: 100%;
    padding: 1em;
    border: 1px solid black;
    /* outline-offset: 0.2em; */
}

textarea {
    resize: vertical;
    min-height: 8rem;
    max-height: 16rem;
}

button {
    width: min-content;
    white-space: nowrap;
    padding: 1.3rem 2rem;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--bask-blue);
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--bask-purple);
}

input:focus, textarea:focus {
    outline: 0.3em solid var(--bask-blue);
}

section.contact .span2 {
    grid-column: span 2;
}

footer {
    padding: 5rem 0;
    background-color: var(--bask-blue);
}

footer * {
    color: white;
}

footer h1 {
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    section.contact > div {
        flex-direction: column;
        gap: 4rem;
    }
    section.contact .half, section.about .half {
        width: 100%;
    }
    section.about > div { 
        flex-direction: column-reverse;
        gap: 4rem;
    }
    section.about div.text {
        padding: 0;
        align-items: center;
    }
    section.about img {
        aspect-ratio: 5 / 3;
        max-width: 35rem;
    }
}

@media screen and (max-width: 700px) {
    div.image-showcase {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    div.half {
        width: 100%;
    }
    div.image-grid {
        aspect-ratio: 1 / 1;
        height: auto;
    }
    div.image-showcase .mobile-unhide {
        display: block;
    }
    div.description-container.mobile-hide {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    /* Change to mobile header */
    header > div {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    header nav a {
        font-size: 1rem;
        background-color: #ffffff4a;
        padding: 0.2em 0.5em;
        border-radius: 0.3em;
    }
}
